---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout title="SpaceX Launches">
	<h1>Pagina principal</h1>
</Layout>

<!-- No vamos a usar CSS, Usaremos los estilos de tailwind -->
