---
import { type APISpaceXResponse } from './types/api'

const res = await fetch('https://api.spacexdata.com/v5/launches/query', {
	method: 'POST',
	headers: {
		'Content-Type': 'aplication/json',
	},
	body: JSON.stringify({
		query: {},
		options: {
			sort: {
				date_unix: 'asc',
			},
			limit: 12,
		},
	}),
})
// crear la var 'data' donde vamos a extrar el archvio json
// const data = JSON.stringfy(await res.json())
// console.log(data) --> de aca se extrae el json como string y luego lo pasamos a TypeScript con "app.quicktype.io"
// creamos un archivo api.ts en la carpeta 'components' para guardar el typescript

const { docs: launches } = (await res.json()) as APISpaceXResponse

console.log(launches)

// realiza una solicitud a la api de xpacex
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 mx-auto">
	{
		launches.map((launch) => (
			<article class="flex flex-col items-center">
				<img src={launch.links.patch.small} alt="" class="mx-auto" />
				<h2>Launch #{launch.id}</h2>
			</article>
		))
	}
</div>
